@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top);
}

body {
  @apply antialiased bg-gray-100 dark:bg-gray-900;
  padding-top: calc(var(--sat) + 60px);
}

.fixed {
  padding-top: var(--sat);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: calc(var(--sat) + 56px);
  }
}